<!doctype html>
<html>

<head>
    <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body>

    <div id="container">
        <form id="form">

            <label><b>Full Name</b></label>
            <br/>
            <label>{{.Name}}</label>

            <br/>
            <br/>

            <label><b>Address</b></label>
            <br/>
            <label>{{.Address}}</label>

            <br/>
            <br/>

            <label><b>Email</b></label>
            <br/>
            <label>{{.Email}}</label>

            <br/>
            <br/>

            <label><b>Telephone</b></label>
            <br/>
            <label>{{.Phone}}</label>

            <br/>
            <br/>

            <label><b>Sign-up date and time</b></label>
            <br/>
			<label>{{.SignupDateTime.Local}}</label>

            <br/>
            <br/>

            
			<button type="button" id="editButton">
				<a href="http://52.14.104.204:8080/profile_edit.html">Edit Profile</a>
			</button>			
            <button type="button" id="logoutButton">Logout</button>

			<img id="loading" width="40px" src="img/loading.gif" style="display: none"/>
			<br/>
			<br/>
			<span id="error"></span>

        </form>
    </div>

</body>

</html>