<!doctype html>
<html>

<head>
    <title>Edit Profile</title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/index.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4hb2hTjcVPUI-nIVrmSryEilRBfXFqYs&libraries=places"></script>
	<script src="js/maps.js"></script>
</head>

<body>

    <div id="container">
        <form id="form">

            <label><b>Full Name</b></label>
            <br/>
            <input type="text" name="name" id="name" value="{{.Name}}">

            <br/>
            <br/>

            <label><b>Address</b></label>
            <br/>
            <input type="text" name="address" id="address" value="{{.Address}}">

            <br/>
            <br/>

            <label><b>Email</b></label>
            <br/>
            <input type="text" name="email" id="email" value="{{.Email}}" required>

            <br/>
            <br/>

            <label><b>Telephone</b></label>
            <br/>
            <input type="text" name="phone" id="phone" value="{{.Phone}}">

            <br/>
            <br/>

            <button type="button" id="saveButton">Save</button>
            <button type="button" id="backButton">
				<a href="http://52.14.104.204:8080/profile.html">Back</a>
			</button>
			
			<img id="loading" width="40px" src="img/loading.gif" style="display: none"/>
			<br/>
			<br/>
			<span id="error"></span>

        </form>
    </div>

</body>

</html>