* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  min-height: 0% !important; }

a {
  color: #007EE5 !important;
  text-decoration: none; }

@media screen and (min-width: 768px) {
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .hidden-on-desktop {
    display: none !important; } }
@media screen and (max-width: 767px) {
  .hidden-on-mobile {
    display: none !important; } }
.button {
  padding: 5px 17px 5px 17px;
  border-radius: 2px;
  font-weight: 800;
  font-size: 8pt;
  cursor: pointer; }

.button--white {
  background-color: white;
  color: #429EEF;
  border: 1px solid #429EEF; }

.button--blue {
  background-color: #007EE5;
  border: 1px solid #007EE5;
  border-radius: 3px;
  color: white; }

.button--transparent-blue-text {
  color: #007ee5;
  border: 0;
  background-color: transparent; }

* .is-dirty > .mdl-textfield__label--gray,
* .is-focused > .mdl-textfield__label--gray {
  color: #CCCCCC !important; }

.mdl-textfield__label--gray {
  color: black !important; }

.invisible {
  display: none; }

/*# sourceMappingURL=general.css.map */
