@media screen and (max-width: 767px) {
  .profile-header {
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin: 0;
    text-align: center;
    background-color: transparent; }

  .profile-header__log-out-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border: 0;
    font-weight: bold;
    font-size: 9pt;
    background-color: transparent; }

  .profile-header__upload-cover-image-button {
    display: none; }

  .profile-header__cover-image-container {
    position: relative;
    top: 50px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5); }

  .profile-header__cover-image {
    height: 120px; }

  .profile-header__name {
    position: initial;
    margin-top: 65px;
    display: inline-block; }

  .profile-header__info {
    top: 220px;
    left: 15px;
    font-weight: 500; }

  .profile-header__info-address {
    position: relative;
    top: 25px; }

  .profile-header__info-phone {
    position: relative;
    top: -30px; }
    .profile-header__info-phone:before {
      margin-left: -10px; }

  .profile-header__reviews {
    top: 275px;
    left: 15px;
    right: inherit; }

  .profile-header__reviews-star {
    color: #007EE5; }

  .profile-header__reviews-counter {
    display: block;
    margin-left: 0;
    line-height: 30px;
    text-align: initial; }

  .profile-header__followers {
    top: 340px;
    left: 15px;
    right: inherit; }

  .profile-header__menu {
    top: 380px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.3); }

  .profile-header__menu-ul {
    margin: 0 15px;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden; }

  .profile-header__menu-ul-li {
    display: inline-block;
    float: none; }

  .profile-header__menu-ul-li-span {
    display: inline-block;
    line-height: 41px; }

  .content {
    position: absolute;
    top: 400px; } }

/*# sourceMappingURL=profile_header_mobile.css.map */
