.profile-header {
  position: relative;
  max-width: 1000px;
  width: 80%;
  height: 270px;
  margin: 40px auto;
  background-color: white; }

.profile-header__log-out-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px; }

.profile-header__upload-cover-image-button {
  position: relative;
  top: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 7px 15px 7px 15px;
  line-height: 20px;
  background-color: white;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: 600;
  font-size: 9pt;
  cursor: pointer; }
  .profile-header__upload-cover-image-button:before {
    display: inline-block;
    font-family: Ionicons;
    font-size: 18pt;
    content: '\f3f6';
    margin-right: 10px;
    color: lightgray;
    vertical-align: -20%;
    font-weight: 500; }

.profile-header__cover-image-container {
  position: absolute;
  width: 150px;
  overflow: hidden;
  bottom: 0;
  left: 0;
  margin: 20px;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2; }

.profile-header__cover-image {
  height: 150px; }

.profile-header__name {
  position: absolute;
  top: 125px;
  left: 190px;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 10px; }

.profile-header__info {
  position: absolute;
  top: 155px;
  left: 190px;
  font-weight: 600; }

.profile-header__info-address {
  font-size: 10pt;
  margin-bottom: 5px; }
  .profile-header__info-address:before {
    display: inline-block;
    width: 15px;
    font-family: Ionicons;
    font-size: 13pt;
    content: '\f3a3';
    margin-right: 8px;
    font-weight: 500; }

.profile-header__info-phone {
  font-size: 10pt;
  margin-bottom: 5px; }
  .profile-header__info-phone:before {
    display: inline-block;
    width: 15px;
    font-family: Ionicons;
    font-size: 15pt;
    content: '\f4b8';
    margin-right: 8px;
    font-weight: 500; }

.profile-header__reviews {
  position: absolute;
  top: 125px;
  right: 0;
  padding-right: 20px;
  font-size: 16pt; }

.profile-header__reviews-star {
  display: inline-block;
  cursor: pointer; }

.profile-header__reviews-counter {
  font-size: 10pt;
  margin-left: 20px; }

.profile-header__reviews-counter--number {
  font-weight: bold; }

.profile-header__followers {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 15px 0;
  color: darkgray;
  z-index: 2; }
  .profile-header__followers:before {
    display: inline-block;
    font-family: Ionicons;
    font-size: 18pt;
    content: '\f48b';
    margin-right: 10px;
    vertical-align: -20%;
    cursor: pointer; }

.profile-header__followers-counter {
  color: black; }

.profile-header__menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.3);
  z-index: 1; }

.profile-header__menu-ul {
  height: 45px;
  line-height: 45px;
  list-style-type: none;
  margin: 0 0 0 190px;
  padding: 0;
  overflow: hidden; }

.profile-header__menu-ul-li {
  float: left; }

.profile-header__menu-ul-li-span {
  display: block;
  text-align: center;
  margin: 0 18px 0 0;
  text-decoration: none;
  color: black !important;
  line-height: 43px;
  cursor: pointer; }
  .profile-header__menu-ul-li-span:hover {
    border-bottom: 2px solid #007EE5; }

.profile-header__menu-ul-li-span--active {
  border-bottom: 2px solid #007EE5; }

/*# sourceMappingURL=profile_header.css.map */
