body {
  background-color: #F4F8F9; }

.content {
  position: relative;
  max-width: 1000px;
  width: 80%;
  min-height: 400px;
  margin: 0 auto 40px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.5); }

.content__h1 {
  color: #888888;
  font-size: 16pt;
  margin: 0 0 25px 0; }

.content__info {
  display: inline-block;
  line-height: 25px;
  background-color: #F5F7FA;
  margin-top: 2px;
  padding: 2px 20px 2px 2px;
  font-size: 10pt;
  font-weight: 600; }

.content__info--first-name {
  padding-right: 4px;
  margin-right: -4px; }

.content__info--first-name,
.content__info--last-name {
  font-size: 12pt;
  font-weight: bold; }

.content__info--website:before {
  display: inline-block;
  font-family: Ionicons;
  font-size: 16pt;
  content: '\f38c';
  margin-right: 10px;
  color: lightgray;
  vertical-align: -20%; }

.content__info--phone:before {
  display: inline-block;
  font-family: Ionicons;
  font-size: 16pt;
  content: '\f4b8';
  margin-right: 10px;
  color: lightgray;
  vertical-align: -20%; }

.content__info--address:before {
  display: inline-block;
  font-family: Ionicons;
  font-size: 16pt;
  content: '\f447';
  margin-right: 10px;
  color: lightgray;
  vertical-align: -20%; }

.content__edit {
  display: inline-block;
  background-color: #ECF0F6;
  line-height: 25px;
  margin-left: -4px;
  padding: 2px 10px 2px 10px;
  cursor: pointer; }

.content__edit--website {
  padding: 2px 10px 4px 10px; }

.content__edit--phone {
  padding: 2px 10px 4px 10px; }

.content__edit--address {
  padding: 2px 10px 4px 10px;
  background-color: #007EE5;
  color: white; }

.content__edit-popup {
  position: absolute;
  width: 240px;
  display: inline-block;
  background-color: white;
  padding: 10px 20px 20px 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  display: none; }
  .content__edit-popup:after {
    content: '';
    position: absolute;
    top: 25%;
    right: 100%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }

.content__edit-popup--name {
  top: 80px;
  left: 138px; }

.content__edit-popup--website {
  top: 110px;
  left: 195px; }

.content__edit-popup--phone {
  top: 145px;
  left: 210px; }

.content__edit-popup--address {
  top: 180px;
  left: 220px; }

.content__edit-button {
  padding: 6px 20px;
  margin-right: 10px; }

/*# sourceMappingURL=profile.css.map */
