@import 'variables';

body {
    background-image: url("../img/fullscreen_bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login-form {
    top:45%;
    background-color: white;
    width: 440px;
    padding: 25px 45px 30px 45px;
    border-radius: 3px;
    box-shadow: 0px -3px 20px -2px rgba(0, 0, 0, 0.2);
}

.login-form__h1 {
    font-size: 16pt;
    text-align: center;
    margin: 10px;
}

.login-form__hr {
    margin-top: 25px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DDDDDD;
    padding: 0; 
}

.login-form__inputs {
    margin-top: 30px;
}

.login-form .mdl-textfield {
    width: 100%;
    margin: 5px 0 0 0;
}

.login-form__terms {
    text-align: center;
    color: $textColor;
    font-size: 10pt;
    padding: 0 5px 0 5px;
    margin-top: 10px;
}

.login-form__button {
    width: 100%;
    height: 35px;
    font-size: 9pt;
    font-weight: bold;
}