@import 'variables';

$contentPadding: 20px;

@media screen and (max-width: 767px) {
    .content {
        position: absolute;
        top: 440px;
        max-width: 100%;
        width: 100%;
        min-height: auto;
        padding: $contentPadding;
        margin: 0 0 30px 0;
        background-color: white;
        box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
    }
    
    .content--temp {
        left: 100%;
    }

    .content__h1 {
        margin: 0 0 10px 0;
        font-size: 15pt;
    }

    .content__info {
        background-color: transparent;
    }

    .content__info--business {
        display: block;
        margin-bottom: -10px;
        font-weight: 500;
    }

    .content__edit--mobile {
        position: absolute;
        right: $contentPadding;
    }

    .content-editable {
        display: none;
    }

    .content-editable__button {
        position: absolute;
        right: $contentPadding;
        font-size: 11pt;
        font-weight: 600;
    }

    .content-editable__button--cancel {
        right: $contentPadding + 60px;
    }

    .content-editable .mdl-textfield {
        width: 100%;
    }

}