@import 'variables';

$coverImageWidth: 150px;
$coverImageMargin: 20px;

$profileInfoTop: 125px;
$profileInfoIconMargin: 8px;
$profileInfoIconWidth: 15px;

.profile-header {
    position: relative;
    max-width: $contentMaxWidth;
    width: 80%;
    height: 270px;
    margin: 40px auto;
    background-color: white;
}

.profile-header__log-out-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
} 

.profile-header__upload-cover-image-button {
    position: relative;
    top: 50px;
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 7px 15px 7px 15px;
    line-height: 20px;
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-weight: 600;
    font-size: 9pt;
    cursor: pointer;
    &:before {
        display: inline-block;
        font-family: Ionicons;
        font-size: 18pt;
        content: '\f3f6';
        margin-right: 10px;
        color: lightgray;
        vertical-align: -20%;
        font-weight: 500;
    }
}

.profile-header__cover-image-container {
    position: absolute;
    width: $coverImageWidth;
    overflow: hidden;
    bottom: 0;
    left: 0;
    margin: $coverImageMargin;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2;
}

.profile-header__cover-image {
    height: 150px;
}

.profile-header__name {
    position: absolute;
    top: $profileInfoTop;
    left: $coverImageWidth + 2 * $coverImageMargin;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-header__info {
    position: absolute;
    top: $profileInfoTop + 30px;
    left: $coverImageWidth + 2 * $coverImageMargin;
    font-weight: 600;
}

.profile-header__info-address {
    font-size: 10pt;
    margin-bottom: 5px;
    &:before {
        display: inline-block;
        width: $profileInfoIconWidth;
        font-family: Ionicons;
        font-size: 13pt;
        content: '\f3a3';
        margin-right: $profileInfoIconMargin;
        font-weight: 500;
    }
}

.profile-header__info-phone {
    font-size: 10pt;
    margin-bottom: 5px;
    &:before {
        display: inline-block;
        width: $profileInfoIconWidth;
        font-family: Ionicons;
        font-size: 15pt;
        content: '\f4b8';
        margin-right: $profileInfoIconMargin;
        font-weight: 500;
    }
}

.profile-header__reviews {
    position: absolute;
    top: $profileInfoTop;
    right: 0;
    padding-right: 20px;
    font-size: 16pt;
}

.profile-header__reviews-star {
    display: inline-block;
    cursor: pointer;
}

.profile-header__reviews-counter {
    font-size: 10pt;
    margin-left: 20px;
}

.profile-header__reviews-counter--number {
    font-weight: bold;
}

.profile-header__followers {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 15px 0;
    color: darkgray;
    z-index: 2;
    &:before {
        display: inline-block;
        font-family: Ionicons;
        font-size: 18pt;
        content: '\f48b';
        margin-right: 10px;
        vertical-align: -20%;
        cursor: pointer;
    }
}

.profile-header__followers-counter {
    color: black;
}

.profile-header__menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $menuHeight;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.3);
    z-index: 1;
}

.profile-header__menu-ul {
    height: $menuHeight;
    line-height: $menuHeight;
    list-style-type: none;
    margin: 0 0 0 $coverImageWidth + 2 * $coverImageMargin;
    padding: 0;
    overflow: hidden;
}

.profile-header__menu-ul-li {
    float: left;
}

.profile-header__menu-ul-li-span {
    display: block;
    text-align: center;
    margin: 0 18px 0 0;
    text-decoration: none;
    color: black !important;
    line-height: $menuHeight - 2px;
    cursor: pointer;
    &:hover {
        border-bottom: 2px solid $mainColor;
    }
}

.profile-header__menu-ul-li-span--active {
    border-bottom: 2px solid $mainColor;
}