@media screen and (max-width: 767px) {
  body {
      background-image: none;
      
  }

  .login-form {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 30px 40px 30px 40px;
      box-shadow: none;
  }

  .login-form__h1 {
      margin-top: 20px;
      font-size: 20pt;
  }

  .login-form__hr {
      display: none;
  }

  .login-form__inputs {
      margin-top: 80px;
  }

  .login-form__terms {
    font-size: 11pt;
    text-align: left;
    margin-top: 20px;
    line-height: 25px;
    word-wrap: normal;
  }

  .login-form__button {
      position: fixed;
      height: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
  }
}