<div class="content-static">
    <div class="hidden-on-desktop ion-edit content__edit content__edit--mobile"></div>
    <h1 class="content__h1">Profile info</h1>

    <div class="content__info content__info--first-name">Jessica</div>
    <div class="content__info content__info--last-name">Parker</div>
    <div class="hidden-on-desktop content__info content__info--business">Business</div>
    <div class="hidden-on-mobile ion-edit content__edit content__edit--name"></div>
    <br>
    <div class="content__info content__info--website">www.seller.com</div>
    <div class="hidden-on-mobile ion-edit content__edit content__edit--website"></div>
    <br>
    <div class="content__info content__info--phone">(949) 325 - 68594</div>
    <div class="hidden-on-mobile ion-edit content__edit content__edit--phone"></div>
    <br>
    <div class="content__info content__info--address">Newport Beach, CA</div>
    <div class="hidden-on-mobile ion-edit content__edit content__edit--address"></div>

    <div class="content__edit-popup content__edit-popup--name">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--first-name-desktop">
            <input class="mdl-textfield__input" type="text" id="first-name-desktop">
            <label class="mdl-textfield__label mdl-textfield__label--gray" for="first-name">FIRST NAME</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--last-name-desktop">
            <input class="mdl-textfield__input" type="text" id="last-name-desktop">
            <label class="mdl-textfield__label mdl-textfield__label--gray" for="last-name">LAST NAME</label>
        </div>
        <button class="button button--blue content__edit-button content__edit-button-save--name">SAVE</button>
        <button class="button button--white content__edit-button content__edit-button-cancel--name">CANCEL</button>
    </div>
    <div class="content__edit-popup content__edit-popup--website">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--website-desktop">
            <input class="mdl-textfield__input website" type="text" id="website-desktop">
            <label class="mdl-textfield__label mdl-textfield__label--gray" for="website">WEBSITE</label>
        </div>
        <button class="button button--blue content__edit-button content__edit-button-save--website">SAVE</button>
        <button class="button button--white content__edit-button content__edit-button-cancel--website">CANCEL</button>
    </div>
    <div class="content__edit-popup content__edit-popup--phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--phone-desktop">
            <input class="mdl-textfield__input" type="text" id="phone-desktop">
            <label class="mdl-textfield__label mdl-textfield__label--gray" for="phone">PHONE</label>
        </div>
        <button class="button button--blue content__edit-button content__edit-button-save--phone">SAVE</button>
        <button class="button button--white content__edit-button content__edit-button-cancel--phone">CANCEL</button>
    </div>
    <div class="content__edit-popup content__edit-popup--address">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--address-desktop">
            <input class="mdl-textfield__input" type="text" id="address-desktop">
            <label class="mdl-textfield__label mdl-textfield__label--gray" for="address">CITY, STATE & ZIP</label>
        </div>
        <button class="button button--blue content__edit-button content__edit-button-save--address">SAVE</button>
        <button class="button button--white content__edit-button content__edit-button-cancel--address">CANCEL</button>
    </div>
</div>

<div class="content-editable hidden-on-desktop">
    <button class="button button--transparent-blue-text content-editable__button content-editable__button--cancel">CANCEL</button>
    <button class="button button--transparent-blue-text content-editable__button content-editable__button--save">SAVE</button>

    <h1 class="content__h1">Profile info</h1>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--first-name-mobile">
        <input class="mdl-textfield__input" type="text" id="first-name-mobile">
        <label class="mdl-textfield__label mdl-textfield__label--gray" for="first-name">FIRST NAME</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--last-name-mobile">
        <input class="mdl-textfield__input" type="text" id="last-name-mobile">
        <label class="mdl-textfield__label mdl-textfield__label--gray" for="last-name">LAST NAME</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--website-mobile">
        <input class="mdl-textfield__input" type="text" id="website-mobile">
        <label class="mdl-textfield__label mdl-textfield__label--gray" for="website-mobile">WEBSITE</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--phone-mobile">
        <input class="mdl-textfield__input" type="text" id="phone-mobile">
        <label class="mdl-textfield__label mdl-textfield__label--gray" for="phone">PHONE NUMBER</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--address-mobile">
        <input class="mdl-textfield__input" type="text" id="address-mobile">
        <label class="mdl-textfield__label mdl-textfield__label--gray" for="address">CITY, STATE & ZIP</label>
    </div>
</div>