a {
	color: inherit;
	text-decoration: inherit;
}

#container {
	margin: auto;
    width: 50%;
	width: 300px;
	padding: 30px;
	background-color:#f1f1f1;
}

#container input {
	width: 90%;
	padding: 5px;
}

#error {
	color: darkred;
}

#loginButton, #signupButton {
	width: 70px;
}