<div class="profile-header">
    <button class="hidden-on-mobile button button--white profile-header__log-out-button">
        LOG OUT
    </button>
    <button class="hidden-on-desktop button button--white profile-header__log-out-button">
        LOGOUT
    </button>

    <button class="profile-header__upload-cover-image-button">
        Upload Cover Image
    </button>

    <div class="profile-header__cover-image-container">
        <img class="profile-header__cover-image" src="img/profile_image.jpg" align="center" />
    </div>

    <div class="profile-header__name">Jessica Parker</div>
    <div class="profile-header__info">
        <div class="profile-header__info-address">Newport Beach, CA</div>
        <div class="profile-header__info-phone">(949) 325 - 68594</div>
    </div>

    <div class="profile-header__reviews">
        <div class="ion-android-star profile-header__reviews-star profile-header__reviews-star--1-star"></div>
        <div class="ion-android-star profile-header__reviews-star profile-header__reviews-star--2-star"></div>
        <div class="ion-android-star profile-header__reviews-star profile-header__reviews-star--3-star"></div>
        <div class="ion-android-star profile-header__reviews-star profile-header__reviews-star--4-star"></div>
        <div class="ion-android-star-outline profile-header__reviews-star profile-header__reviews-star--5-star"></div>

        <span class="profile-header__reviews-counter">
            <span class="profile-header__reviews-counter--number">6</span> Reviews
        </span>
    </div>

    <div class="profile-header__followers">
        <span class="profile-header__followers-counter">15</span> Followers
    </div>

    <div class="profile-header__menu">
        <ul class="profile-header__menu-ul">
            <li class="profile-header__menu-ul-li">
                <span class="profile-header__menu-ul-li-span profile-header__menu-ul-li-span--active profile-header__menu-ul-li-span--about">ABOUT</span>
            </li>
            <li class="profile-header__menu-ul-li">
                <span class="profile-header__menu-ul-li-span profile-header__menu-ul-li-span--settings">SETTINGS</span>
            </li>
            <li class="profile-header__menu-ul-li">
                <span class="profile-header__menu-ul-li-span profile-header__menu-ul-li-span--option1">OPTION1</span>
            </li>
            <li class="profile-header__menu-ul-li">
                <span class="profile-header__menu-ul-li-span profile-header__menu-ul-li-span--option2">OPTION2</span>
            </li>
            <li class="profile-header__menu-ul-li">
                <span class="profile-header__menu-ul-li-span profile-header__menu-ul-li-span--option3">OPTION3</span>
            </li>
        </ul>
    </div>

</div>